{% extends "layout.html" %}

{% block main %}
    <section style="height: 86vh">
        <div class="container justify-content-center">
            <div class="row justify-content-center mt-3 ">
                <div class="col-lg-8 text-center">
                    <span style="font-size: 3rem;color: white; z-index: +2;">
                    Maybe your used books can save someone's future
                    </span>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-2 text-center ">
                    <a href="/sell" class="button-links mb-2" style=" font-size: 2.8rem; margin-bottom: 2%;" >Sell</a>
                </div>
                <div class="col-lg-2 text-center">
                    <a href="/donate" class="button-links mb-2" style="opacity: 0.6; font-size: 2.8rem;">Donate</a>
                </div>    
                </div>
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center">
                    <span style="font-size: 3.4rem;color: white; z-index: +2;">
                        Used Textbooks or Non-fictional Books now
                    </span>
                </div>
            </div>
        </div>
    </section>
{% endblock %}